<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN
"
"http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
  <display-name>Geotools WMS Service</display-name>
  <description>The Geotools WMS Service</description>
  <servlet>
    <servlet-name>WMSServlet</servlet-name>
    <display-name>WMSServlet</display-name>
    <description>Default configuration created for servlet.</description>
    <servlet-class>org.geotools.wms.WMSServlet</servlet-class>
    <init-param>
      <param-name>WMSServerClass</param-name>
      <param-value>org.geotools.wms.gtserver.GtWmsServer</param-value>
    </init-param>
    <init-param>
      <param-name>WMSFeatureFormatters</param-name>
      <param-value>org.geotools.wms.gtserver.TextFeatureFormatter</param-value>
    </init-param>
    <init-param>
      <param-name>layersxml</param-name>
      <param-value>layers.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>WMSServlet</servlet-name>
    <url-pattern>/servlet/gt2wms</url-pattern>
  </servlet-mapping>
</web-app>
