<?xml version="1.0" encoding="ISO-8859-1"?>

<project name="Geotools2"
         href="http://www.geotools.org/" >

  <title>Geotools2</title>

  <body>
    <menu name="Home">
      <item name="Geotools2"       href="/index.html" />
    </menu>
<!--
    <menu name="About Us">
      <item name="Contributors"           href="/contributors.html"/>
      <item name="License"                href="/license.html"/>
    </menu>
-->
    <menu name="Download">
      <item name="Nightly src archive"    href="http://geotools.sf.net/daily/lib/gt2-src-snapshot.tar.gz"/>
     </menu>

    <menu name="Information">
      <item name="Overview"               href="http://www.geotools.org/modules.php?op=modload&amp;name=Sections&amp;file=index&amp;req=viewarticle&amp;artid=62&amp;page=1"/>
      <item name="Developers Guidelines"  href="http://www.geotools.org/gt2docs/developersguide.html"/>
      <item name="Glossary"               href="http://www.geotools.org/gt2docs/glossary.html"/>
      <item name="Design Overview"        href="http://www.geotools.org/gt2docs/design.html"/>
      <!-- Yet to come?
      <item name="Guidelines"             href="/guidelines.html"/>
      <item name="News"                   href="/news.html"/>
      -->
     
    </menu>

    <menu name="Module Home Pages">
       #foreach ($reactorProject in $reactorProjects)
      <item name="$reactorProject.name" href="/$reactorProject.artifactId/index.html"/>
      #end
   </menu>

   <links>
     #foreach ($reactorProject in $reactorProjects)
     <item name="$reactorProject.name" href="/$reactorProject.artifactId/index.html"/>
   </links>

    <menu name="GeoTools Community">
      <item name="GeoTools Home Page"           href="http://www.geotools.org"/>
      <item name="Mailing Lists"          href="http://sourceforge.net/mail/?group_id=4091"/>
      <item name="CVS Repositories"       href="http://cvs.sourceforge.net/cgi-bin/viewcvs.cgi/geotools/geotools2"/>
    </menu>
<!--
    <menu name="Project Docs">
      <item name="Charter"                href="/charter.html"/>
      <item name="Releases"               href="/releases.html"/>
      <item name="Versioning"             href="/versioning.html"/>
    </menu>
-->

  </body>
</project>

