javax.jdo.PersistenceManagerFactoryClass=org.jpox.PersistenceManagerFactoryImpl

javax.jdo.option.ConnectionDriverName=org.postgis.jts.JtsWrapper
javax.jdo.option.ConnectionURL=jdbc:postgres_jts://www.refractions.net:5432/demo-bc

javax.jdo.option.ConnectionUserName=postgres
javax.jdo.option.ConnectionPassword=

org.jpox.datastoreAdapterClassName=org.jpox.store.rdbms.adapter.PostGISAdapter

org.jpox.identifier.case=lowercase